html, body, #root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    overflow: hidden;
    position: relative;
    background: black;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

.background,
.background img,
.background::after {
    position: absolute;
    width: 100%;
    height: 100%;
}

.background {
    background-position: center center;
    background-size: cover;
}

.background img {
    object-fit: cover;
    filter: blur(20px);
    animation: blink infinite ease-in-out 5s;
}

.background::after {
    content: "";
    background: radial-gradient(circle at center, black 0, black 300px, rgb(0 0 0 / 20%) 100%);
}

.foreground {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foreground img {
    box-shadow: 0px 0px 11px 0px black;
    border-radius: 5px;
}
